<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>iris flowers </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>iris flowers prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{url_for('predict')}}"method="post">
      <input type="text" placeholder="Sepal.Length" name="Sepal.Length" required>
      <input type="text" placeholder="Sepal.Width" name="Sepal.Width" required>
      <input type="text" placeholder="Petal.Length" name="Petal.Length" required>
      <input type="text" placeholder="Petal.Width" name="Petal.Width" required>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
